rect{
  fill: #2196f3;
}
text{
  fill:#ffffff;
}

.link-btn circle{
  stroke: #333;
  stroke-width:2px;
  fill:#aaa;
  cursor: pointer;
}

.add-link-mode .link-btn.entry circle{
  fill:yellow;
}
.add-link-mode .link-btn.exit, .add-link-mode.node:hover .delete-btn{
  display:none;
}

.remove-link-mode .link-btn.exit circle{
  fill:yellow;
}
.remove-link-mode .link-btn.entry, .remove-link-mode.node:hover .delete-btn{
  display:none;
}
