<app-top-bar></app-top-bar>

<section class="flex layout-row layout-perfect-centering">

    <mat-card class="register-card ">
        <mat-card-header>
            <mat-card-title>REGISTER</mat-card-title>
        </mat-card-header>

        <mat-card-content >
            <div class="flex layout-column">
                <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
                    <div class="flex layout-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Email address</mat-label>
                            <input matInput formControlName="emailAddress" required>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </a>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Full Name</mat-label>
                            <input matInput formControlName="fullName" required>
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit">Register</button>
                        <br>
                    </div>
                </form>
                <p>Already have an account? &nbsp; <a [routerLink]="['/login']"> Login</a></p>

            </div>

        </mat-card-content>

    </mat-card>
</section>