<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/class-builder/location">Location</a>
      <a mat-list-item href="/class-builder/equipment">Equipment</a>
      <a mat-list-item href="/class-builder/point">Point</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Class Builder: {{classType}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="height:100vh">
      <ngx-graph class="chart-container"  [links]="links" [nodes]="nodes" layout="dagreCluster"
        >
        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #clusterTemplate let-cluster>
          <svg:g class="node cluster">
            <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height"
              [attr.fill]="cluster.data.color" />
          </svg:g>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g class="node">
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
              [attr.fill]="node.data.color" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
              {{node.label}}
            </svg:text>

            <svg:g class="delete-btn" (click)="onDelete(node.id)">
              <svg:circle r="10" fill="#ef5350" [attr.cx]="node.dimension.width" />
              <svg:text alignment-baseline="central" text-anchor="middle" [attr.x]="node.dimension.width"
                fill="#ffffff">
                x
              </svg:text>
            </svg:g>

            <svg:g class="create-child-btn" (click)="onCreateChild(node)">
              <svg:circle r="10" fill="#2196f3" [attr.cx]="node.dimension.width" [attr.cy]="node.dimension.height"/>
              <svg:text alignment-baseline="central" text-anchor="middle" [attr.x]="node.dimension.width" [attr.y]="node.dimension.height"
                fill="#ffffff">
                +
              </svg:text>
            </svg:g>

          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%" fill="#ffff">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
