<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Architect [Hierarchy]</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="height:100vh">
      <ngx-graph class="chart-container connection-mode" [links]="links" [nodes]="nodes" layout="dagre"
        [draggingEnabled]="false">
        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #clusterTemplate let-cluster>
          <svg:g class="node cluster">
            <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height"
              [attr.fill]="cluster.data.color" />
          </svg:g>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g *ngIf="node.type==='location'" [node]="node" app-location-node (updated)="onUpdated($event)" (onEntryConnectorClick)="entryConnectorClick(node)" (onExitConnectorClick)="exitConnectorClick(node)" [mode]="mode"></svg:g>
          <svg:g *ngIf="node.type==='equipment'" [node]="node" app-equipment-node (onEntryConnectorClick)="entryConnectorClick(node)" (onExitConnectorClick)="exitConnectorClick(node)" [mode]="mode"></svg:g>
          <svg:g *ngIf="node.type==='point'" [node]="node" app-point-node (onEntryConnectorClick)="entryConnectorClick(node)" (onExitConnectorClick)="exitConnectorClick(node)" [mode]="mode"></svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="3" [attr.stroke]="link.stroke"
              [attr.stroke-dasharray]="link.strokeDashArray" marker-end="url(#arrow)"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%" fill="#ffff">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
<mat-card class="legend-container">
  <mat-card-title>Legend</mat-card-title>
  <mat-card-content>
    <svg width=60 height=20>
      <svg:g>
        <svg:rect width=60 height=20 fill="#009688" />
        <svg:text alignment-baseline="central" fill="#ffffff" y="10" x=10 font-size="10">
          Location
        </svg:text>
      </svg:g>
    </svg>
    <br>
    <svg width=60 height=20>
      <svg:g>
        <svg:rect width=60 height=20 fill="#2196f3" />
        <svg:text alignment-baseline="central" fill="#ffffff" y="10" x=10 font-size="10">
          Equipment
        </svg:text>
      </svg:g>
    </svg>
    <br>
    <svg width=60 height=20>
      <svg:g>
        <svg:rect width=60 height=20 fill="#e91e63" rx="15" />
        <svg:text alignment-baseline="central" fill="#ffffff" y="10" x=10 font-size="10">
          Point
        </svg:text>
      </svg:g>
    </svg>
  </mat-card-content>
</mat-card>
<div class="create-location-fab-container">
  <button mat-fab color="primary" aria-label="Create new location" (click)="createLocation()">
    <mat-icon>add</mat-icon>
  </button>
</div>
