<mat-divider></mat-divider>

<section class="locations"  [hidden]="children.length===0">
  <h3 matSubheader>Locations</h3>
  <div class="flex layout-row ">
      <button mat-flat-button *ngFor="let location of children" class="location-button"
          [routerLink]="['/manager','operate',location.id]">
          <mat-icon aria-hidden="false" aria-label="location">room</mat-icon>
          <span class="location-name">{{location.name}}</span>
      </button>
  </div>
</section>

<mat-divider></mat-divider>

<section class="control-panel">
  <h3 matSubheader>Control panel</h3>

</section>
