<div class="create-sub-class-container">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)">
    <h2>Create sub class</h2>
    <mat-form-field appearance="fill">
      <mat-label>Parent Class</mat-label>
      <input matInput disabled value="{{parent.label}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sub Class Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
