rect{
  fill: #009688;
}
text{
  fill:#ffffff;
}
.delete-btn circle{
  fill: #ef5350;
}
.delete-btn {
  cursor: pointer;
}
.link-btn circle{
  stroke: #333;
  stroke-width:2px;
  fill:#aaa;
  cursor: pointer;
}
.node .delete-btn{
  display:none;
}

.node:hover .delete-btn{
  display:block;
}
