rect{
  fill: #009688;
}
text{
  fill:#ffffff;
}
.delete-btn circle{
  fill: #ef5350;
}
.node .delete-btn, .node .add-link-btn{
  display:none;
}

.node:hover .delete-btn, .node:hover .add-link-btn{
  display:block;
}
