<svg:g class="node" [ngClass]="mode">
  <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" />
  <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
    {{node.label}}
  </svg:text>

  <svg:g class="delete-btn" (click)="delete(node)">
    <svg:circle r="10" [attr.cx]="node.dimension.width" />
    <svg:text alignment-baseline="central" text-anchor="middle" [attr.x]="node.dimension.width" fill="#ffffff">
      x
    </svg:text>
  </svg:g>

  <svg:g class="link-btn exit" (click)="onExitConnectorClick.emit(node)">
    <svg:circle r="6" [attr.cx]="node.dimension.width"  [attr.cy]="node.dimension.height/2"/>
  </svg:g>

  <svg:g class="link-btn entry" (click)="onEntryConnectorClick.emit(node)">
    <svg:circle r="6" [attr.cx]="0"  [attr.cy]="node.dimension.height/2"/>
  </svg:g>
</svg:g>
