<app-top-bar></app-top-bar>

<section class="flex layout-column layout-perfect-centering">
    <img src="assets/images/oneboard-logo.png" height="100px" alt="" style="position: relative; bottom: -5px">
    <h1 style="font-size: 2em; font-weight: 100" class="text-center" flex="100">
        SEIL Oneboard
    </h1>
    <br>
    <h3 style="font-weight: 100" class="text-center" flex="100">Smart Appliance Management System Interface</h3>
    <div class="flex layout-row">
        <button mat-raised-button color="primary" [routerLink]="['/login']">Login</button> &nbsp;
        <button mat-raised-button color="accent" [routerLink]="['/register']">Register</button>

    </div>
</section>