<mat-card cdkDrag [cdkDragDisabled]="!mutable" [cdkDragBoundary]="'#blueprint-container'"
  [cdkDragConstrainPosition]="constrainPosition" (cdkDragEnded)="onDragEnd($event)" [ngStyle]="style" mwlResizable
  [enableGhostResize]="true" [ghostElementPositioning]="'absolute'"
  [resizeEdges]="{ bottom: (mutable?true:false), right: (mutable?true:false) }" (resizeEnd)="onResizeEnd($event)"
  [resizeSnapGrid]="{ bottom: 10, right: 10 }" [resizeCursorPrecision]="10" [validateResize]="validate">
  <mat-card-header>
    <mat-card-title>
      {{point.name}}
    </mat-card-title>
    <mat-card-subtitle *ngIf="mutable">
      {{point.classId}}
    </mat-card-subtitle>
    <div class="drag-handle" cdkDragHandle *ngIf="mutable">
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </mat-card-header>
  <ng-container [ngSwitch]="point.devices[0].classId">
    <!-- the same view can be shown in more than one case -->
    <!-- <app-point-ceilingfan *ngSwitchCase="'FAN.CEILINGFAN'" [point]="point"></app-point-ceilingfan>
    <app-point-ac *ngSwitchCase="'HVAC.AHU'" [point]="point"></app-point-ac>
    <app-point-ac *ngSwitchCase="'HVAC.TERMINALUNIT'" [point]="point"></app-point-ac>
    <app-point-light *ngSwitchCase="'LIGHTINGSYSTEM.LIGHT'" [point]="point"></app-point-light> -->
    <app-device-schneider-meter *ngSwitchCase="'SCHNEIDERMETER'" [device]="point.devices[0]"></app-device-schneider-meter>
    <div *ngSwitchDefault>...</div>
  </ng-container>
</mat-card>
