/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
    text-decoration: none;
    color:#00B7FF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}
.logo{
    padding-top:10px;
}
/* Flexbox layout styles */
.flex{
    display:flex;
}
.layout-row{
    flex-direction: row;
}
.layout-column{
    flex-direction: column;
}
.layout-wrap{
    flex-wrap: wrap;
}
.layout-perfect-centering{
    justify-content: center;
    align-items: center;
}
.layout-margin{
    margin:15px;
}
.layout-padding{
    padding:15px;
}

.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
    display: block;
    text-align: -webkit-center;
}
.justify-end{
    justify-content: end;
}

/* Snackbar styles */
.error-snackbar{
    color: red;
}

.success-snackbar{
    color: green;
}

.float-right{
  float: right;
}
.float-left{
  float: right;
}
.nav-right{
  position:absolute;
  right:0;
  margin:0 10px;
}

mat-card-actions.mat-card-actions{
  margin-bottom: 0;
}

iframe{
  border:none;
}
