<div class="create-sub-class-container">
  <form [formGroup]="createLocationForm" (ngSubmit)="onSubmit(createLocationForm.value)">
    <h2>Create location</h2>
    <mat-label>Select Class</mat-label>
    <app-location-class-tree (selected)="onClassSelected($event)" ></app-location-class-tree>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
